$borders:15px;
$padding:15px;
$desktop:840px;

$colors: (
    primary: #E50575,
    primary-lighten: lighten(#E50505, 50%),
    accent: #FFF6BB
);

@function color($color-name){
    @return map-get($colors,$color-name)
};

@mixin desktop {
    @media(min-width: #{$desktop}){
        @content;
    }
};

